image:
  repository: container-registry-k8s-cmc.khacthienit.click/hotelmanagerment/hotel-frontend
  tag: "latest"

imagePullSecrets:
  - name: dockerhub-secret

deployments:
  - name: hotel-frontend
    replicasCount: 1
    # nodeSelector:
    #   kubernetes.io/arch: arm64
    prometheusEnabled: false
    service:
      name: hotel-frontend
      HTTPPort: 5000
      health:
        live: "/"
        ready: "/"
        initialDelaySeconds: 60
        periodSeconds: 15
        failureThreshold: 5
        timeoutSeconds: 3

env:
  ENV: prod

envFrom:
  - configMapRef:
      name: hotel-frontend-env

ingress:
  enabled: true
  plugins: []
  ingressClassName: nginx
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    cert-manager.io/cluster-issuer: letsencrypt-dns
  tls:
    - hosts:
        - hotel-frontend.project3cloudinus.click
      secretName: hotel-frontend-tls
  rules:
    - host: hotel-frontend.project3cloudinus.click
      paths:
        - path: /
          serviceName: hotel-frontend
          servicePort: 80

resources:
  # requests:
  #   cpu: "500m"
  #   memory: "1Gi"
  limits:
    cpu: "760m"
    memory: "1200Mi"

infisical:
  enabled: false
